web/WEB-INF/wsdl/localhost_8080/TravelAgency/TravelAgencyWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice.travelagency.robertshippey.net/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.travelagency.robertshippey.net/">

<xs:element name="getAllFlights" type="tns:getAllFlights"/>

<xs:element name="getAllFlightsResponse" type="tns:getAllFlightsResponse"/>

<xs:element name="getCurrencyCodes" type="tns:getCurrencyCodes"/>

<xs:element name="getCurrencyCodesResponse" type="tns:getCurrencyCodesResponse"/>

<xs:element name="makeBooking" type="tns:makeBooking"/>

<xs:element name="makeBookingResponse" type="tns:makeBookingResponse"/>

<xs:element name="searchFlights" type="tns:searchFlights"/>

<xs:element name="searchFlightsResponse" type="tns:searchFlightsResponse"/>

<xs:complexType name="makeBooking">
<xs:sequence>
<xs:element name="flightCode" type="xs:string" minOccurs="0"/>
<xs:element name="passengerName" type="xs:string" minOccurs="0"/>
<xs:element name="noOfSeats" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="makeBookingResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchFlights">
<xs:sequence>
<xs:element name="origin" type="xs:string" minOccurs="0"/>
<xs:element name="desdination" type="xs:string" minOccurs="0"/>
<xs:element name="date" type="xs:string" minOccurs="0"/>
<xs:element name="directFlight" type="xs:string" minOccurs="0"/>
<xs:element name="currency" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchFlightsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllFlights">
<xs:sequence>
<xs:element name="currency" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllFlightsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCurrencyCodes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCurrencyCodesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>