web/WEB-INF/wsdl/localhost_8080/TravelAgency/TravelCore.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://core.travelagency.robertshippey.net/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://core.travelagency.robertshippey.net/" name="TravelCore">
<types>
<xsd:schema>
<xsd:import namespace="http://core.travelagency.robertshippey.net/" schemaLocation="http://localhost:8080/TravelAgency/TravelCore?xsd=1"/>
</xsd:schema>
</types>
<message name="makeBooking">
<part name="parameters" element="tns:makeBooking"/>
</message>
<message name="makeBookingResponse">
<part name="parameters" element="tns:makeBookingResponse"/>
</message>
<message name="searchFlights">
<part name="parameters" element="tns:searchFlights"/>
</message>
<message name="searchFlightsResponse">
<part name="parameters" element="tns:searchFlightsResponse"/>
</message>
<message name="getAllFlights">
<part name="parameters" element="tns:getAllFlights"/>
</message>
<message name="getAllFlightsResponse">
<part name="parameters" element="tns:getAllFlightsResponse"/>
</message>
<portType name="TravelCore">
<operation name="makeBooking">
<input wsam:Action="http://core.travelagency.robertshippey.net/TravelCore/makeBookingRequest" message="tns:makeBooking"/>
<output wsam:Action="http://core.travelagency.robertshippey.net/TravelCore/makeBookingResponse" message="tns:makeBookingResponse"/>
</operation>
<operation name="searchFlights">
<input wsam:Action="http://core.travelagency.robertshippey.net/TravelCore/searchFlightsRequest" message="tns:searchFlights"/>
<output wsam:Action="http://core.travelagency.robertshippey.net/TravelCore/searchFlightsResponse" message="tns:searchFlightsResponse"/>
</operation>
<operation name="getAllFlights">
<input wsam:Action="http://core.travelagency.robertshippey.net/TravelCore/getAllFlightsRequest" message="tns:getAllFlights"/>
<output wsam:Action="http://core.travelagency.robertshippey.net/TravelCore/getAllFlightsResponse" message="tns:getAllFlightsResponse"/>
</operation>
</portType>
<binding name="TravelCorePortBinding" type="tns:TravelCore">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="makeBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TravelCore">
<port name="TravelCorePort" binding="tns:TravelCorePortBinding">
<soap:address location="http://localhost:8080/TravelAgency/TravelCore"/>
</port>
</service>
</definitions>