web/WEB-INF/wsdl/localhost_8080/TravelAgency/TravelAgencyWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.travelagency.robertshippey.net/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.travelagency.robertshippey.net/" name="TravelAgencyWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.travelagency.robertshippey.net/" schemaLocation="http://localhost:8080/TravelAgency/TravelAgencyWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllFlights">
<part name="parameters" element="tns:getAllFlights"/>
</message>
<message name="getAllFlightsResponse">
<part name="parameters" element="tns:getAllFlightsResponse"/>
</message>
<message name="makeBooking">
<part name="parameters" element="tns:makeBooking"/>
</message>
<message name="makeBookingResponse">
<part name="parameters" element="tns:makeBookingResponse"/>
</message>
<message name="searchFlights">
<part name="parameters" element="tns:searchFlights"/>
</message>
<message name="searchFlightsResponse">
<part name="parameters" element="tns:searchFlightsResponse"/>
</message>
<portType name="TravelAgencyWebService">
<operation name="getAllFlights">
<input wsam:Action="http://webservice.travelagency.robertshippey.net/TravelAgencyWebService/getAllFlightsRequest" message="tns:getAllFlights"/>
<output wsam:Action="http://webservice.travelagency.robertshippey.net/TravelAgencyWebService/getAllFlightsResponse" message="tns:getAllFlightsResponse"/>
</operation>
<operation name="makeBooking">
<input wsam:Action="http://webservice.travelagency.robertshippey.net/TravelAgencyWebService/makeBookingRequest" message="tns:makeBooking"/>
<output wsam:Action="http://webservice.travelagency.robertshippey.net/TravelAgencyWebService/makeBookingResponse" message="tns:makeBookingResponse"/>
</operation>
<operation name="searchFlights">
<input wsam:Action="http://webservice.travelagency.robertshippey.net/TravelAgencyWebService/searchFlightsRequest" message="tns:searchFlights"/>
<output wsam:Action="http://webservice.travelagency.robertshippey.net/TravelAgencyWebService/searchFlightsResponse" message="tns:searchFlightsResponse"/>
</operation>
</portType>
<binding name="TravelAgencyWebServicePortBinding" type="tns:TravelAgencyWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="makeBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TravelAgencyWebService">
<port name="TravelAgencyWebServicePort" binding="tns:TravelAgencyWebServicePortBinding">
<soap:address location="http://localhost:8080/TravelAgency/TravelAgencyWebService"/>
</port>
</service>
</definitions>